/* page title */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1D3444;
    max-width: 100vw;
    overflow-x: hidden;
}

.page-title {
    margin: 2.5vw auto;
    text-align: center;
    margin-top: 5vw;
}

.page-title h1 {
    color: white;
    font-size: 3.7rem;
    font-family: 'Righteous', cursive;
    letter-spacing: 5px;

}

.events {
    display: grid;
    display: -ms-grid;
    max-width: 86vw;
    width: 76vw;
    margin: 5vw auto;
    -ms-grid-rows: 120vh;
     grid-template-rows: 120vh;
    -ms-grid-columns: 2fr 5fr;
     grid-template-columns: 2fr 5fr;
     grid-template-areas: "timeline-area details-area";
}

.events-timeline {
    grid-area: timeline-area;
    background: red;
    display: flex;
    flex-direction: column;
}

.event-t1 {
    flex: 1;
    background: blue;
}
.event-t2 {
    flex: 1;
    background: green;
}
.event-t3 {
    flex: 1;
    background: pink;
}
.event-t4 {
    flex: 1;
    background: violet;
}
.event-t5 {
    flex: 1;
    background: brown;
}

.event-detail {
    grid-area: details-area;
    position: relative;
}

.event-d1 {
    position: relative;
    width: 100%;
    height: 100%;
}

.event-d1 .page-c {
    position: absolute;
    height: 90%;
    width: 100%;
    left: 5%;
    top: 5%;
    background-image: url('./../../image/Events/page-template.svg');
    background-size: 100% 100%;
}

.event-d1 .img-c {
    height: 20vw;
    width: 20vw;
    position: absolute;
    top: 10%;
    left: 14%;
}

.event-d1 .img-c img {
    height: 100%;
    width: 100%;
}