@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    font-family: 'Righteous', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --color1:#fe304f;
    --color2:#118DEF;
    --color3:#6F7B91;
    --color5:#CE2849;
    --color4:#F2C43A;
}
body{
    background-image: url('./../../image/Events/Background.svg');
    background-size: cover;
}

@font-face {
    src: url(./../../font/Events/BRADHITC.TTF);
    font-family: bradEvent;
}

/* -------------------------------- post loader starts ---------------------------------------- */
@keyframes goTopRight {
    0% {
        left: 0;
        top: 0.1%;
        transform: scale(1.6);
        filter: drop-shadow(-62px 62px 80px transparent);
    }
    50% {
        left: 0;
        top: 0.1%;
        transform: scale(1.6);
        filter: drop-shadow(-62px 62px 80px transparent);
    }
    70% {
        filter: drop-shadow(-62px 62px 35px #142530);
    }
    100% {
    top: -37%;
    left: 37.5%;
    transform: scale(.4);
    filter: drop-shadow(-62px 62px 35px #142530);
    }
}

@keyframes goBottomLeft {
    0% {
        left: 0;
        top: -0.1%;
        transform: scale(1.6);
        filter: drop-shadow(62px -62px 80px transparent);
    }
    50% {
        left: 0;
        top: -0.1%;
        transform: scale(1.6);
        filter: drop-shadow(62px -62px 80px transparent);
    }
    70% {
        filter: drop-shadow(62px -62px 22px #142530);
    }
    100% {
    top: 32%;
    left: -42%;
    transform: scale(.4);
    filter: drop-shadow(62px -62px 22px #142530);
    }
}

.preloader--1,
.preloader--2 {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 99999;
}
.pre-img  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.pre-1 {
    /* animation: goTopRight 2s ease-in;  */
    top: -37%;
    left: 37.5%;
    transform: scale(.4);

    filter: drop-shadow(-62px 62px 80px #142530);
}

.pre-2 {
    /* animation: goBottomLeft 2s ease-in; */
    top: 32%;
    left: -42%;
    transform: scale(.4);

    filter: drop-shadow(62px -62px 80px #142530);
}
.hidden {
    display: none;
    visibility: hidden;
}
    /* ------------------- postloader ends -------------------------------- */

.heading{
    width: 100%;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 2vw auto;
    margin-bottom: 1vw;
}
.heading h2 {
    margin-bottom: -1vw;
}
.container{
    width: 80vw;
    max-width: 80vw;
    margin: 2vw auto 0;
    display: flex;
    height: 90%;
}
.liner{
    /* width:530px; */
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
}
.innerLiner{
    transition: all .5s linear;
}
/* ------Offline events timeline begins----- */

.date p {
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: white;
    font-size: 50px;
    position: absolute;
    left:70px;
}
.date p:nth-child(1){
    font-size: 78px;
    top: 96px;
}
.date p:nth-child(2){
    top: 285px;
    left: 85px;
}

#offline_event{
    width: 100%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    transition: all 1.5s ease-in;

}
#online_event{
    width: 100%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    transition: all 1.5s ease-in;
    overflow-y:hidden;

}
.timeline{
    content: '';
    overflow-y: hidden;
    margin-top: 12%;
}
.container-event{
    display: flex;
    align-items: center;
}
.arrow{
    height:120px;
    width: 15px;
    clip-path: polygon(50% 0, 0% 10%, 0% 100%, 50% 90%, 100% 100%, 100% 10%);
}
.event-name{
    background-color: white;
    width: 44%;
    border-radius: 7px;
    padding: 10px;
    height: 20%;
    margin-left: 7%;
    transition: all 0.4s;
}
.event-name p:nth-child(1){
    color: rgb(241, 35, 35);
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 5px;
}

.description{
    width: 60%;
    height: 100%;
}
hr{
    width:25%;
    border: none;
    border-top: 2.3px solid white;
}
.small-circle{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
    z-index:1;
    margin-left: -12px;
}
.big-circle {
    content: '';
    width: 21px;
    height: 21px;
    background-color: white;
    border:3.54px solid rgb(241, 35, 35);
    border-radius: 50%;
  }
#day1{
    display: block;
    transition: 2s ease-in;
}
#day2{
    /* margin-top: 5%; */
    display: none;
}
.pointer{
    height:25px;
    width: 25px;
    background-image: url('./../../image/Events/pointer.svg') ;
    cursor: pointer;
    position: absolute;
    bottom: -22%;
    left:30%;
}
/* #day2 .pointer{
    bottom: -15%;
} */

.pointer:hover{
    animation: pointer 1s linear infinite;

}
@keyframes pointer{
    0%,100%{
        bottom: -22%;
    }
    50%{
        bottom: -24%;
    }
}
#day2 .pointer{
    transform: rotateX(180deg);
}

.grow:hover{ 
    transform: scale(1.2);
}

/* ------Offline events timeline ends----- */

/* <-----toggle button----> */
.toggle {
    position : relative ;
    display : inline-block;
    width : 150px;
    height : 42px;
    background-color:white;
    border-radius: 30px;
    border: 2px solid gray;
    margin-left: 0vw;
}
        
.toggle-cover{
    content: '';
    position: absolute;
    width: 77px;
    height: 43px;
    border-radius: 30px;
    background-color: black;
    top: -2px; 
    left: -2px;
    transition:  all 0.5s linear;
    z-index:3;
}
      
.checkbox:checked + .toggle {
    background-color: white;
}

.checkbox { 
    display : none;
}
.slide{
    border: none;
    background: none;
    outline: none;
    position: absolute;
    margin-top: 12px;
    z-index:2;
}
.slide-right{
    left:13px;
    cursor: pointer;
}
.slide-left{
    right: 15px;
    cursor: pointer;
}
.moveLeft{
    transform: translateX(-100%);
}

/* <-----toggle button----> */

/* ---------------colour added to individual elements----------------- */
.container-event:nth-child(1) .arrow{
    background-color: var(--color1);
}
.container-event:nth-child(2) .arrow{
    background-color: var(--color2);
}
.container-event:nth-child(3) .arrow{
    background-color: var(--color3);
}
.container-event:nth-child(4) .arrow{
    background-color: var(--color4);
}
.container-event:nth-child(5) .arrow{
    background-color: var(--color5);
}
.container-event:nth-child(1) .big-circle{
    border-color: var(--color1);   
}
.container-event:nth-child(2) .big-circle{
    border-color: var(--color2);   
}
.container-event:nth-child(3) .big-circle{
    border-color: var(--color3);   
}
.container-event:nth-child(4) .big-circle{
    border-color: var(--color4);   
}
.container-event:nth-child(5) .big-circle{
    border-color: var(--color5);   
}
.container-event:nth-child(1) p:nth-child(1){
    color: var(--color1);
}
.container-event:nth-child(2) p:nth-child(1){
    color: var(--color2);
}
.container-event:nth-child(3) p:nth-child(1){
    color: var(--color3);
}
.container-event:nth-child(4) p:nth-child(1){
    color: var(--color4);
}
.container-event:nth-child(5) p:nth-child(1){
    color: var(--color5);
}

/* ---------------colour added to individual elements ends----------------- */

/* -------------- event description begins------- */
.description {
    height: 100vh;
    
}
.event-detail {
    position: relative;
    height: 100%;
    width: 100%;
}

.event-d1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.event-detail .page-c {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 5%;
    top: -3%;
    background-image: url('./../../image/Events/page-template.svg') ;
    background-repeat: no-repeat;
    background-size: 150% 105%;
    background-position: top;
}

.event-detail .img-c {
    height: 20vw;
    width: 22vw;
    position: absolute;
    top: 7%;
    left: 4%;
     background-image: url('./../../image/Events/image-container.svg');
    background-size: 150% 100%;
    background-position: top;
}

.event-detail .img-c img {
    height: 80%;
    width: 80%;
}

.event-detail .text-c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18.5%);
    width: 68%;
    height: 30%;
    z-index: 1;
    /* background-color: yellow; */
}
.event-detail .text-c .date{
    position: absolute;
    bottom: -55%;
}
.event-detail .text-c p {
    /* border: 1px solid red; */
    font-family: bradEvent;
    font-weight: 800;
    line-height: 23px;
    height: 300px;
    overflow-y: scroll;
    z-index: 2;
    scrollbar-width: none;
}
.event-detail .text-c p::-webkit-scrollbar{
    display:none;
}


/* -------------- event description ends------- */
