<!DOCTYPE html>
<html>

<head>
    <!-- add icon link -->
    <link rel="icon" href="/image/i.png" type="image/png">
    <title>Events</title>
    <meta name="Incandescence Event Page" content="Events in Incandescence 2020 | NIT Silchar">
    <meta name="robots" content="index, follow" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./stylesheet/event/event.css">

</head>


<body>
    <main>
        <div class="page-title">
            <h1>EVENTS</h1>
        </div>

        <section class="events">
            <div class="events-timeline">
                <div class="event-t1"></div>
                <div class="event-t2"></div>
                <div class="event-t3"></div>
                <div class="event-t4"></div>
                <div class="event-t5"></div>
            </div>
            <div class="event-detail">
                <div class="event-d1">
                    <div class="page-c">
                        <div class="img-c">
                            <img src="./image/Events/image-container.svg" alt="">
                        </div>
                        <div class="text c">

                        </div>
                    </div>
                </div>
                <div class="event-d2"></div>
                <div class="event-d3"></div>
                <div class="event-d4"></div>
                <div class="event-d5"></div>
            </div>
        </section>
    </main>


</body>

</html>