<!DOCTYPE html>
<html>
    <head>
        <title>Events</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Comaptible" content="ie=edge"/>
        <link rel="icon" href="/image/i.png" type="image/png">
        <meta name="Incandescence Event Page" content="Events in Incandescence 2020 | NIT Silchar">

        <link rel="stylesheet" href="./stylesheet/event/event.css">
    </head>
    <body>
        <!-- post loader -->
            <div class="preloader--1">
                <img src="./image/Events/noShadow-upper-half.svg" alt="Post Loader" class="pre-img pre-1">
            </div>
            <div class="preloader--2">
                <img src="/image/Events/noShadow-lower-half.svg" alt="Post Loader" class="pre-img pre-2">
            </div>

        <!-- heading -->
        <div class="heading">
            <h2>EVENTS</h2>
            <input type="checkbox" id="switch"
                    class="checkbox" />
            <label for="switch" class="toggle">
            <span>ONLINE</span><span>OFFLINE</span>
        </div>
        
        <!-- Events content container -->
        <div class="container">
            <div id="offline_event">
                
                <div class="timeline">
                    <div id="day1">
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Face Painting</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Ground Zero</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Glitterati</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Nirvana</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Thundermarch</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="pointer" id="btn1">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="50%" y="0px" width="512px" height="512px" viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M135.899,167.877c1.902,1.902,4.093,2.851,6.567,2.851s4.661-0.948,6.562-2.851L282.082,34.829    c1.902-1.903,2.847-4.093,2.847-6.567s-0.951-4.665-2.847-6.567L267.808,7.417c-1.902-1.903-4.093-2.853-6.57-2.853    c-2.471,0-4.661,0.95-6.563,2.853L142.466,119.622L30.262,7.417c-1.903-1.903-4.093-2.853-6.567-2.853    c-2.475,0-4.665,0.95-6.567,2.853L2.856,21.695C0.95,23.597,0,25.784,0,28.262c0,2.478,0.953,4.665,2.856,6.567L135.899,167.877z" fill="#FFFFFF"/>
                                    <path d="M267.808,117.053c-1.902-1.903-4.093-2.853-6.57-2.853c-2.471,0-4.661,0.95-6.563,2.853L142.466,229.257L30.262,117.05    c-1.903-1.903-4.093-2.853-6.567-2.853c-2.475,0-4.665,0.95-6.567,2.853L2.856,131.327C0.95,133.23,0,135.42,0,137.893    c0,2.474,0.953,4.665,2.856,6.57l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854l133.054-133.046    c1.902-1.903,2.847-4.093,2.847-6.565c0-2.474-0.951-4.661-2.847-6.567L267.808,117.053z" fill="#FFFFFF"/>
                                </g>
                            </g>
                        </svg></div>
                    </div>
                    <div id="day2">
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Zyka~Food Festival</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Open Mic</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>Comedy Nights</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="container-event">
                            <div class="arrow">

                            </div>
                            <div class="small-circle"></div>
                            <hr>
                            <div class="big-circle"></div>
                            <div class="event-name grow">
                                <p>CarpeDiem Nights</p>
                                <p class="time">11:00 - 13:00</p>
                            </div>
                        </div>
                        <div class="pointer" id="btn2">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="50%" y="0px" width="512px" height="512px" viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M135.899,167.877c1.902,1.902,4.093,2.851,6.567,2.851s4.661-0.948,6.562-2.851L282.082,34.829    c1.902-1.903,2.847-4.093,2.847-6.567s-0.951-4.665-2.847-6.567L267.808,7.417c-1.902-1.903-4.093-2.853-6.57-2.853    c-2.471,0-4.661,0.95-6.563,2.853L142.466,119.622L30.262,7.417c-1.903-1.903-4.093-2.853-6.567-2.853    c-2.475,0-4.665,0.95-6.567,2.853L2.856,21.695C0.95,23.597,0,25.784,0,28.262c0,2.478,0.953,4.665,2.856,6.567L135.899,167.877z" fill="#FFFFFF"/>
                                        <path d="M267.808,117.053c-1.902-1.903-4.093-2.853-6.57-2.853c-2.471,0-4.661,0.95-6.563,2.853L142.466,229.257L30.262,117.05    c-1.903-1.903-4.093-2.853-6.567-2.853c-2.475,0-4.665,0.95-6.567,2.853L2.856,131.327C0.95,133.23,0,135.42,0,137.893    c0,2.474,0.953,4.665,2.856,6.57l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854l133.054-133.046    c1.902-1.903,2.847-4.093,2.847-6.565c0-2.474-0.951-4.661-2.847-6.567L267.808,117.053z" fill="#FFFFFF"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div id="online_event">
                <div class="container-event">
                        <div class="arrow">
                        </div>
                        <div class="small-circle"></div>
                        <hr>
                        <div class="big-circle"></div>
                        <div class="event-name grow">
                            <p>Meme competition</p>
                            <p class="time">11:00 - 13:00</p>
                        </div>
                </div>
                <div class="container-event">
                        <div class="arrow">
                        </div>
                        <div class="small-circle"></div>
                        <hr>
                        <div class="big-circle"></div>
                        <div class="event-name grow">
                            <p>Hymn for Incand</p>
                            <p class="time">11:00 - 13:00</p>
                        </div>
                </div>
                <div class="container-event">
                        <div class="arrow">
                        </div>
                        <div class="small-circle"></div>
                        <hr>
                        <div class="big-circle"></div>
                        <div class="event-name grow">
                            <p>Natraaz</p>
                            <p class="time">11:00 - 13:00</p>
                        </div>
                </div>
                <div class="container-event">
                        <div class="arrow">
                        </div>
                        <div class="small-circle"></div>
                        <hr>
                        <div class="big-circle"></div>
                        <div class="event-name grow">
                            <p>Director's Cut</p>
                            <p class="time">11:00 - 13:00</p>
                        </div>
                </div>
                <div class="container-event">
                        <div class="arrow">
                        </div>
                        <div class="small-circle"></div>
                        <hr>
                        <div class="big-circle"></div>
                        <div class="event-name grow">
                            <p>Frames</p>
                            <p class="time">11:00 - 13:00</p>
                        </div>
                </div>
            </div>
            <div class="description">
                    <div class="event-detail">
                        <!-- face-painting -->
                        <div class="event-d1 event--one">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="./image/Events/full-corona-bg.svg" alt="" >
                                </div>
                                <div class="text-c">
                                    <p>
                                        The previous year has rained many sorrows and miseries in the lives of humankind due to the Covid-19 pandemic. However,
                                        amidst all the suffering, it has also unleashed the artistic fire in us and led to a path of self discovery. From
                                        Dalgona coffee to Instagram reels, we have let loose the child inside us and danced to the colors of joy. But the scars
                                        cannot be healed in a day or two. So in order to recover from the confinement of darkness, Incandescence '21 brings to
                                        all the Face Painting Competition. A one of a kind event where your colors transform the human face into an illusory
                                        piece of art. Celebrate the artist in you and let the brush replicate your dreams into reality. Join us on the 14th of
                                        April 2021 at National Institute of Technology, Silchar to be a part of this joyous carnival of colours.
                                        <br>
                                        <br>
                                        <br>
                                    </p>
                                        <div  class="date"><strong>Date: 17/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Ground Zero--->
                        <div class="event-d1 event--two">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                        “Dance is the hidden language of the soul.”
                                        <br>
                                        <strong>Martha Graham</strong> 
                                        
                                        The Dance Module of Incandescence, is one of the most awaited events for all dance enthusiasts across the campus. With
                                        nerve wrenching grooves and moonwalks ready to set the stage on fire, it's time to gear up for one of the biggest Dance
                                        Jam of North East India, GROUND ZERO. With powerful dance moves and expression, break the barriers and express yourself
                                        competing with people all around the campus.
                                        Ground Zero is inviting all enthusiastic dancers to showcase their talents and rock the stage of Incandescence 2021 this
                                        April. With things slowly going back to normalcy,let's dance our way into the new Post Covid world. Covid warriors
                                        dealing with pandemic ensured that we don't panic, releasing their strong dance videos. So whats stopping you to dance
                                        the way you wanted to be.
                                    <br><br>
                                    </p>
                                    <div  class="date"><strong>Date: 17/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Glitterati--->
                        <div class="event-d1 event--three">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                        

                                    </p>
                                    <div  class="date"><strong>Date: 17/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Nirvana--->
                        <div class="event-d4 event--four">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                        

                                    </p>
                                    <div  class="date"><strong>Date: 17/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Thundermarch--->
                        <div class="event-d5 event--five">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                       

                                    </p>
                                    <div  class="date"><strong>Date: 17/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Food festival--->
                        <div class="event-d6 event--six">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                       <i><strong>FOOD</strong> is not rational. Food is Culture, Habit, Craving and Identity.</i>
                                       <br><br>
                                       Exploding with flavours, fresh spices, old recipes and new innovations, Jayka has returned to win our hearts irrevocably.  
                                       Aptly named ‘The Carnival Of Bites’, NITS’s Jayka is a whole spiritual experience in itself. Experience heaven as you taste 
                                       our rich decadent shakes and cakes, spicy chicken wings and fragrant mouth-watering biryani, but these are just the tip of 
                                       the iceberg, whatever your heart desires Jayka has it all.  
                                       <br><br>
                                       So forget all rationality, all those diet plans and calorie counts, and join us in National Institute of Technology, Silchar
                                       on the nth day of April to indulge in the most delectable morsels prepared by the most talented chefs present in the college. 
                                       <br><br>
                                       WE promise that once you start, you simply won’t be able to stop.
                                       <br><br>
                                    </p>
                                    <div  class="date"><strong>Date: 18/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Open Mic--->
                        <div class="event-d7 event--seven">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                        <i>"You will never know your limits until you push yourself to them".</i>
                                        <br><br>
                                        Incandescence, NIT Silchar 2021 gives you a chance to showcase your talent infront 
                                        of a considerate amount of audience in the open-mic evening! Open up your heart, sing, 
                                        rap, play instruments, do stand-up comedy, narrate a story or a poetry as a professional or as a amateur. 
                                        You are free to perform as there's no one to judge.
                                        <br><br>
                                        We invite you to experience this thrilling  evening, <strong>THE STAGE IS ALL YOURS !</strong>
                                        <br><br>
                                        
                                    </p>
                                    <div  class="date"><strong>Date: 18/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Comedy Nights--->
                        <div class="event-d8 event--eight">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                  

                                    </p>
                                    <div  class="date"><strong>Date: 18/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                        <!---Carpediem Nights--->
                        <div class="event-d9 event--nine">
                            <div class="page-c">
                                <div class="img-c">
                                    <img src="" alt="">
                                </div>
                                <div class="text-c">
                                    <p>
                                  

                                    </p>
                                    <div  class="date"><strong>Date: 18/ 04/ 2021</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </body>
    <script src="./js/event/event.js"></script>
    <script>
        setTimeout(() => {
            document.querySelector('.preloader').style.zIndex= "-1";
        }, 6000); 
    </script>
</html>