<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Comaptible" content="ie=edge" />
    <link rel="icon" href="/image/i.png" type="image/png" />
    <meta
      name="Incandescence Gallery Page"
      content="Gallery in Incandescence 2020 | NIT Silchar"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./stylesheet/event/event.css" />
    <link rel="stylesheet" href="./stylesheet/gallery/gallery.css" />
  </head>
  <body>
    <!-- post loader -->
    <div class="preloader--1">
      <img
        src="./image/Events/noShadow-upper-half.svg"
        alt="Post Loader"
        class="pre-img pre-1"
      />
    </div>
    <div class="preloader--2">
      <img
        src="/image/Events/noShadow-lower-half.svg"
        alt="Post Loader"
        class="pre-img pre-2"
      />
    </div>
    <div class="buttons">
      <ul>
        <li onclick="showPanel(0)">Gliteratti</li>
        <li onclick="showPanel(1)">CarpeDiem</li>
        <li onclick="showPanel(2)">Nirvana</li>
        <li onclick="showPanel(3)">Thundermarch</li>
      </ul>
    </div>
    <!--Gliteratti-->
    <div class="tabPanel">
      <div class="gallery">
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (5).jpg"
            data-original="g (5).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (2).jpg"
            data-original="g (2).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (6).jpg"
            data-original="g (6).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (7).jpg"
            data-original="g (7).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (1).jpg"
            data-original="g (1).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (3).jpg"
            data-original="g (3).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (10).jpg"
            data-original="g (10).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (8).jpg"
            data-original="g (8).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (9).jpg"
            data-original="g (9).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (4).jpg"
            data-original="g (4).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (11).jpg"
            data-original="g (11).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (12).jpg"
            data-original="g (12).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/gliteratti/g (13).jpg"
            data-original="g (13).jpg"
            alt="Images"
          />
        </div>
      </div>
    </div>
    <!--Carpedium-->
    <div class="tabPanel">
      <div class="gallery">
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (5).jpg"
            data-original="c (5).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (2).jpg"
            data-original="c (2).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (6).jpg"
            data-original="c (6).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (3).jpg"
            data-original="c (3).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (8).jpg"
            data-original="c (8).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (7).jpg"
            data-original="c (7).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (10).jpg"
            data-original="c (10).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (9).jpg"
            data-original="c (9).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (1).jpg"
            data-original="c (1).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (4).jpg"
            data-original="c (4).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (11).jpg"
            data-original="c (11).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (12).jpg"
            data-original="c (12).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/carperdium/c (13).jpg"
            data-original="c (13).jpg"
            alt="Images"
          />
        </div>
      </div>
    </div>
    <!--Nirvana-->
    <div class="tabPanel">
      <div class="gallery">
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (5).jpg"
            data-original="n (5).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (6).jpg"
            data-original="n (6).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (13).jpg"
            data-original="n (13).png"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (7).jpg"
            data-original="n (7).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (11).jpg"
            data-original="n (11).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (3).jpg"
            data-original="n (3).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (10).jpg"
            data-original="n (10).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (8).jpg"
            data-original="n (8).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (9).jpg"
            data-original="n (9).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (4).jpg"
            data-original="n (4).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (1).jpg"
            data-original="n (1).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (12).jpg"
            data-original="n (12).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/nirvana/n (2).jpg"
            data-original="n (2).jpg"
            alt="Images"
          />
        </div>
      </div>
    </div>
    <!--Thundermarch-->
    <div class="tabPanel">
      <div class="gallery">
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (5).jpg"
            data-original="t (5).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (2).jpg"
            data-original="t (2).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (6).jpg"
            data-original="t (6).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (7).jpg"
            data-original="t (7).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (1).jpg"
            data-original="t (1).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (3).jpg"
            data-original="t (3).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (10).jpg"
            data-original="t (10).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (8).jpg"
            data-original="t (8).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (9).jpg"
            data-original="t (9).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (4).jpg"
            data-original="t (4).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (11).jpg"
            data-original="t (11).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (12).jpg"
            data-original="t (12).jpg"
            alt="Images"
          />
        </div>
        <div class="item">
          <img
            src="./image/gallery/thundermarch/t (13).jpg"
            data-original="t (13).jpg"
            alt="Images"
          />
        </div>
      </div>
    </div>
    <!--Modal-->
    <div class="modal">
      <img
        src="./image/gallery/gliteratti_org/g4 2.jpg"
        alt=""
        class="full-img"
      />
      <p class="caption"></p>
    </div>
    <script>
      const modal = document.querySelector(".modal");
      const previews = document.querySelectorAll(".gallery img");
      const original = document.querySelector(".full-img");
      const caption = document.querySelector(".caption");
      const gallery = document.querySelector(".gallery");
      previews.forEach((preview) => {
        preview.addEventListener("click", () => {
          modal.classList.add("open");
          original.classList.add("open");
          const originalSrc = preview.getAttribute("data-original");
          original.src = `./image/gallery/org/${originalSrc}`;
          const altTxt = preview.alt;
          caption.textContent = altTxt;
          document.body.style.overflow = "hidden";
        });
      });
      modal.addEventListener("click", (e) => {
        if (e.target.classList.contains("modal")) {
          modal.classList.remove("open");
          original.classList.remove("open");
          document.body.style.overflow = "auto";
        }
      });

      //Buttons to change gallery size
      var tabButtons = document.querySelectorAll(" .buttons ul li");
      var tabPanels = document.querySelectorAll("  .tabPanel");

      function showPanel(panelIndex) {
        tabButtons.forEach(function (node) {
          node.style.fontSize = "clamp(1rem, 1.5vw, 2rem)";
          node.style.color = "white";
        });
        tabButtons[panelIndex].style.fontSize = "clamp(1.5rem, 2vw, 4rem)";
        tabButtons[panelIndex].style.color = "#fe304f";

        tabPanels.forEach(function (node) {
          node.style.display = "none";
        });
        tabPanels[panelIndex].style.display = "block";
      }
      showPanel(0);
    </script>

    <script type="text/javascript" src="./js/event/event.js"></script>
  </body>
</html>
