<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=yes"
    />
    <meta
      name="Incandescence"
      content="Incandescence is a cultural fest of NIT Silchar"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"
      integrity="sha256-2p2tRZlPowp3P/04Pw2rqVCSbhyV/IB7ZEVUglrDS/c="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.js"
      integrity="sha256-peenofh8a9TIqKdPKIeQE7mJvuwh+J0To7nslvpj1jI="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
      integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" 
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <link rel="stylesheet" href="stylesheet/home/style.css" />
    <link rel="stylesheet" href="stylesheet/navbar/nav.css" />
  </head>
  <body>
    <!--  Navbar -->
    <nav
      class="navbar navbar-transparent navbar-expand-lg navbar-dark fixed-top nav-down"
      color-on-scroll="200"
    >
      <div class="container">
        <a href="#" class="navbar-brand"
          ><img src="image/home/logo.png" alt="" />ncandensce</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarMenu"
          aria-controls="navbarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link">Events</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Gallery</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Team</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Reach Us</a></li>
            <li class="nav-item"></li>
            <li><a href="#" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="intro">
      <div class="scrolldown">
        <lottie-player
          id="scrollanim"
          src="image/home/scroll.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
        Scroll Down
      </div>

      <!-- <div class="dashboard">
        <div class="hide hide_1">
          <h1 class="i20">Incandensce 2021</h1>
        </div>
        <div class="hide hide_2">
          <h2 class="i20_2">Recuperating the post-pandemic world</h2>
        </div>
        <div class="hide hide_3">
          <img class="logo" src="image/home/logo.png" alt="" />
        </div>
      </div> -->
      
      <!-- <div class="hide hide_4">
        <nav id="navbar" class="flexbox">
          <div class="navbar-inner">
            <div class="navbar-left flexbox-left">
              <div id="nav-button" cursor-class="arrow">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div id="m-img-1" class="menu-image-wrapper">
        <img
          class="menu-image"
          src="image/home/air-balloon-minimal-dark-art-4k-0q-1920x1080.jpg"
          alt=""
        />
        <img
          class="menu-image-back"
          src="image/home/air-balloon-minimal-dark-art-4k-0q-1920x1080.jpg"
          alt=""
        />
      </div>
      <div id="m-img-2" class="menu-image-wrapper">
        <img
          class="menu-image"
          src="image/home/astronaut-hanging-on-moon-fo-1920x1080.jpg"
          alt=""
        />
        <img
          class="menu-image-back"
          src="image/home/astronaut-hanging-on-moon-fo-1920x1080.jpg"
          alt=""
        />
      </div>
      <div id="m-img-3" class="menu-image-wrapper">
        <img
          class="menu-image"
          src="vheadphones_minimalism_pastel_122007_5856x3909.jpg"
          alt=""
        />
        <img
          class="menu-image-back"
          src="image/home/headphones_minimalism_pastel_122007_5856x3909.jpg"
          alt=""
        />
      </div>
      <div id="m-img-4" class="menu-image-wrapper">
        <img
          class="menu-image"
          src="image/home/macos_sierra_2-wallpaper-3840x2160.jpg"
          alt=""
        />
        <img
          class="menu-image-back"
          src="image/home/macos_sierra_2-wallpaper-3840x2160.jpg"
          alt=""
        />
      </div>
      <div class="menu-wrapper flexbox">
        <ul class="menu flexbox-col-left-start">
          <li id="m-item-w-1" class="menu-item flexbox">
            <h1 id="m-item-1" class="menu-item-inner" cursor-class="arrow">
              Home
            </h1>
          </li>
          <li id="m-item-w-2" class="menu-item flexbox">
            <h1 id="m-item-2" class="menu-item-inner" cursor-class="arrow">
              Events
            </h1>
          </li>
          <li id="m-item-w-3" class="menu-item flexbox">
            <h1 id="m-item-3" class="menu-item-inner" cursor-class="arrow">
              Reach US
            </h1>
          </li>
          <li id="m-item-w-4" class="menu-item flexbox">
            <h1 id="m-item-4" class="menu-item-inner" cursor-class="arrow">
              Team
            </h1>
          </li>
        </ul>
        <div class="menu-background"></div>
      </div> -->
      <video src="image/home/voila.mp4"></video>
      
    </div>

    <!-- <img src="image/home/sectionBG.jpg" alt="Section Background" style="width:100%;"> -->
    
    <div class="sectionCarousel"><div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="image/home/sectionBG.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>ABOUT US</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, dolor! Ullam, esse vitae aspernatur molestias provident rerum voluptatum deserunt. Voluptatem explicabo dignissimos cumque, doloribus, deserunt, itaque alias illum esse dolores natus accusantium in dolor nemo nostrum neque sunt voluptatum quae tenetur officiis culpa unde cum fuga. Dolores minus quidem dolorum?</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="image/home/sectionBG.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Second Section</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, dolor! Ullam, esse vitae aspernatur molestias provident rerum voluptatum deserunt. Voluptatem explicabo dignissimos cumque, doloribus, deserunt, itaque alias illum esse dolores natus accusantium in dolor nemo nostrum neque sunt voluptatum quae tenetur officiis culpa unde cum fuga. Dolores minus quidem dolorum?</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="image/home/sectionBG.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h1>Thrid Section</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, dolor! Ullam, esse vitae aspernatur molestias provident rerum voluptatum deserunt. Voluptatem explicabo dignissimos cumque, doloribus, deserunt, itaque alias illum esse dolores natus accusantium in dolor nemo nostrum neque sunt voluptatum quae tenetur officiis culpa unde cum fuga. Dolores minus quidem dolorum?</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
  </body>
  <script src="js/home/app.js"></script>
  <script src="js/navbar/nav.js"></script>
</html>
