@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  padding: 0;
  margin: 0;
  background-image: url("./../../image/Events/Background.svg");
  background-size: cover;
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}
.buttons ul {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  list-style-type: none;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-out;
  color: white;
}
.buttons ul li {
  cursor: pointer;
}
.gallery {
  height: 140vh;
  width: 90vw;
  margin: 2% 7% 2% 4%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 20vw 25vw 20vw auto;
  grid-template-rows: 30vh 15vh 20vh;
  grid-auto-flow: dense;
  grid-gap: 15px;
}
.gallery .item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.gallery .item:first-child {
  grid-column: span 1;
  grid-row: span 2;
}

.gallery .item:nth-child(2n + 3) {
  grid-row-start: span 2;
}
.gallery .item:nth-child(3n + 3) {
  grid-row-start: span 2;
}
.gallery .item:nth-child(6n + 7) {
  grid-row-start: span 1;
}
.gallery .item:nth-child(8n + 9) {
  grid-column-start: span 1;
  grid-row-start: span 2;
}
.gallery .item:nth-child(10n + 12) {
  grid-row-start: span 1;
}
.gallery .item:nth-child(10n + 10) {
  grid-row-start: span 2;
}
.gallery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Responsiveness*/
@media (max-width: 1300px) {
  .gallery {
    height: 135vh;
    grid-template-columns: 22vw 22vw 20vw auto;
    grid-template-rows: 30vh 20vh 30vh;
  }
}
@media (max-width: 1176px) {
  .gallery {
    height: 135vh;
    grid-template-columns: 20vw 22vw 22vw auto;
    grid-template-rows: 30vh 20vh 30vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 992px) {
  .gallery {
    height: 120vh;
    grid-template-columns: 20vw 22vw 22vw auto;
    grid-template-rows: 25vh 15vh 25vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 876px) {
  .gallery {
    height: 190vh;
    grid-template-columns: 29vw 27vw auto;
    grid-template-rows: 25vh 18vh 20vh 30vh;
  }
  .gallery .item:nth-child(10n + 7) {
    grid-row-start: span 2;
  }
}
@media (max-width: 770px) {
  .gallery {
    height: 130vh;
    grid-template-columns: 29vw 27vw auto;
    grid-template-rows: 18vh 13vh 16vh 16vh; /*changed*/
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 676px) {
  .gallery {
    height: 140vh;
    grid-template-columns: 29vw 28vw auto;
    grid-template-rows: 22vh 13vh 14vh 22vh;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 560px) {
  .gallery {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery .item {
    display: block;
    width: 100%;
    height: 60vh;
    border-radius: 6px;
    margin-bottom: 7px;
  }
  .gallery .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}
.modal p {
  color: white;
  font-size: 2rem;
  position: absolute;
  bottom: 4.2%;
  left: 50%;
  width: 35%;
  padding: 0.1rem;
  transform: translate(-50%, -4.2%);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.full-img {
  position: absolute;
  height: 82%;
  width: 35%;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}
.full-img.open {
  transform: translate(-50%, -50%) scale(1);
}
@media (max-width: 989px) {
  .modal p {
    width: 45%;
  }
  .full-img {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .modal p {
    width: 50%;
  }
  .full-img {
    width: 50%;
  }
}
@media (max-width: 438px) {
  .modal p {
    width: 55%;
  }
  .full-img {
    width: 55%;
  }
}
